* {padding: 0; margin: 0; }

:root {
    --item-1-border-style: none;
    --item-2-border-style: none;
    --hidden-link-length: 8rem;
    --foreground: white;
    --shadow: darkcyan;
    --foregroundmemory: red;
    --foreground-secondary: red;
    --hgl-color: lightcyan;
    --memory-color: gold;
  }

html {
    box-sizing: border-box;

    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;

    font-size: 0.7cm;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    /* margin: 1em; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: flex-end; */
    color: var(--foreground);
    min-height: 100vh;

    font-size: 1rem;
}

div.theborder {
    box-shadow: 8px 8px 5px;
  }

/* ad collapsibles: */
.collapsible {
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 0.3em 0.3em 0.2em 0.6em;
  width: 100%;
  border: solid 2px white;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  opacity: 1;
  padding: 0 18px;
  min-width: 95%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  background-color: black;
}

/* .button-collapsible {width: 80%; margin: 0 auto; height: 2.0em; */
/*                      margin-top: 0.5em;} */
.button-collapsible {width: 80%; height: 2.0em; margin-left: 10em; margin-right: 20em;
                     margin-top: 0.5em;}

.bred {background-color: red;}

.itc {font-style: italic;}

.active, .collapsible:hover {
  background-color: #222;
}

/*    div {position: absolute;}*/
.hgl {
    font-weight: bold; color: var(--hgl-color); font-size: 1.2rem;
  }

#top {
    text-align: center; text-shadow: 2px 2px var(--shadow);
    border-bottom: solid 2px var(--foreground);
    padding-bottom: 0.6rem; max-width: 50%; margin: auto;
    margin-bottom: 0.6rem;
    width: 8em;
  }

#link-1 {
    /* color: transparent; /1* Ukrywa tekst *1/ */
    opacity: 0;
    transition: color 0.3s ease-in-out; /* Płynna zmiana koloru */
    padding: 0.25rem;
    /* display: block; */
    border: var(--item-1-border-style) 2px blue;
    border-radius: 0.5em;
    width: var(--hidden-link-length); height: 3rem;
    position: absolute; top: 0.1rem; left: 40rem;
  }

#link-1:hover {
    opacity: 1;
    color: var(--foreground);
    background-color: rgb(20, 20, 20, .85);
    border: solid 2px rgb(40, 40, 40);
  }

#link-2 {
    /* display: block; */
    opacity: 0;
    transition: color 0.3s ease-in-out; /* Płynna zmiana koloru */
    padding: 0.25rem;
    border: var(--item-2-border-style) 2px red;
    border-radius: 0.5em;
    /* width: var(--hidden-link-length); */
    width: var(--hidden-link-length);
    height: 3rem;
    position: absolute; top: 3rem; left: 40rem;
  }

#link-2:hover {
    opacity: 1;
    color: var(--foreground);
    background-color: rgb(20, 20, 20, .85);
    border: solid 2px rgb(40, 40, 40);
  }

/*#link-2 {float: right;
margin-left: 1em;
margin-bottom: 10em;
border: solid 2px red;
width: 20em; height: 3em;
}*/
.theborder {
    border-style: solid; border-width: 2px;
    border-color: var(--foreground);
    margin: 1em; padding: 1em;
}

.theborder p {margin-bottom: 1em; }
.theborder p:last-child {margin-bottom: 0; }

.mitem {
    color: var(--memory-color);
    margin-top: 0.5em;
    margin-left: 1em;
    font-style: italic; font-size: 1.2rem;
  }

.backlink {
    color: navy;
  }

div a {
    color: mintcream; position: absolute; bottom: 0; right: 0.5em;
    text-decoration: none;
  }

.floating {
    position: absolute;
    width: 600px; height: 0;
    z-index: 2;
  }

/* Styl tooltipa */
.tooltip {
    width: 100%;
    position: relative;
    display: block;
    border: none red 1px;
  }

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;  /* shift/position to the right */
    left: 33%;  /* shift/position up */
    transform: translateX(-50%);
    background-color: #111;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    min-width: 10em;
    font-size: 0.8em;
  }

.tooltip:hover::after {
    opacity: 1;
    background-color: rgba(20, 20, 20, 0.9);
  }

/* Left tooltip */
.ltooltip {
    position: relative;
    display: block;
  }

.ltooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 2rem;  /* shift/position to the right */
    left: 28rem;  /* shift/position up */
    transform: translateX(1rem);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: solid 1px yellow;
    border-radius: 0.5em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    min-width: 10em;
  }

.ltooltip:hover::after {
    opacity: 1;
  }
